<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main_css/ejemplo.css">
</head>
<body>
  <section>
    <div>
      <img class="cuarentena" src="media\images\Tilapia.png">

    </div>
    <div class="container">
      <ul>
        <li >first</li>
        <li>second</li>
        <li>third</li>
        <li><ol>
          <li>great</li>
          <li>great</li>
          <li>great</li>
        </ol></li>
        <p>fuck</p>
        <a target="_blank">dont touch</a>
        <a target="_top">touch</a>
        <a>hatred</a>

      </ul>
      <button>submit</button>
    </div>
  </section>
</body>
</html>