{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content1 %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main_css/style3.css' %}"/>
{% endblock %}


{% block content %}
<main>
    <!--========seccion para el la entrega del eslogan y el mensaje===-->

    <section id="home_slogan" class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light" style="font-size: 40px"><b>ESLOGAN</b></h1>
                <p id="slogan" class="lead text-muted" style="font-family: Lucida Handwriting cursive;"  >SIEMPRE FRESCO</p>
                <p id="slogan2" class="lead text-muted" style="font-family: Lucida Handwriting cursive; font-size: 11px"  >RAZON SOCIAL</p>
                <p id="slogan3" class="lead text-muted" style="font-family: Lucida Handwriting cursive;"  >PECES DE COLOMBIA S.A</p>

            </div>

        </div>
    </section>
    <!--======================== on this section a scene will be make ======================== -->
    <section id="platform">
        <div class="scene">

            <div class="floor"></div>
            <div class="box"></div>
            <div class="ball"></div>
        </div>

    </section>

    <!--========seccion de muestra de productos===-->

    <section id="productos_casa" class="productos_ofrecidos" style="padding: 100px;">

        <div class="section-title">
            <h1 data-aos="fade-up" class="aos-init">Products offered</h1>
            <p data-aos="fade-up" class="aos-init " style="text-align: justify; letter-spacing: 3px; font-size: 24px;
            padding-right: 20%; padding-left: 20%">Tilapia is a species that can be seasonalized
                 allowing Colombia to have an offer available throughout the year. High productivity and competitiveness, by carrying out actions in the areas of research, innovation, technological development and training
                 technique allow Colombia to have the ideal conditions for a very competitive production in this market.</p>
            <p data-aos="fade-up" class="aos-init " style="text-align: justify; letter-spacing: 3px; font-size: 24px;
            padding-right: 20%; padding-left: 20%">The tilapia produced in our farming systems
                 intensive guarantees a product with a homogeneous weight and size, which is linked to the highest quality standards, which offer our customers an excellent product, whether for domestic consumption or
                 buy wholesale, it is a product, clean production, without hormones and in harmony with the ecosystem.</p>
        </div>

        <section id="pricing1" class="pricing">
            <div class="container-fluid">

                <div class="row">
                    {% csrf_token %}
                    {% for product in products %}
                    {% if "Tilapia" in product.category.name %}
                    <div class="col-lg-3 col-md-6 aos-init" data-aos="fade-up">
                        <div class="box" style="margin-bottom: 10px">
                            <h3>{{ product.title }}</h3>
                            <h4><sup>$</sup>{{ product.price }}<span> / Kg</span></h4>
                            <img class="img-fluid " src="{{ product.image.url }}" alt="Responsive image"
                                 style="height: 200px; height: 200px">
                            <div class="btn-wrap">
                                <p>{{ product.description }}</p>
     <!-- ======= this part creates a button that sends the data in forms to the respective view =======-->
                                <div class="btn-wrap">
                                    <form method="post" action="/#pricing1" class="form-group align-content-center">
                                        {% csrf_token %}



                                        <input type="hidden" name="name" id="name" value={{ product.title }}>
                                        <input type="hidden" name="price" id="price" value={{ product.price }}>
                                        <input type="hidden" name="currentuser" id="currentuser" value={{ request.user.id }}>


                                        <button , name="send_data" type="submit" class="btn-buy">buy item</button>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}


                </div>

            </div>
        </section><!-- End Pricing Section -->


        </div>
        </div>
        </div>
    </section>

</main>
{% endblock %}